* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 1px;
  }
  body {
    background-color: #f3f3f3;
    font-family: "Arial";
  }
  .wrapper {
    max-width: 960rem;
    margin: 0 auto;
    padding: 0 17rem;
  }
  .container {
    background-color: #fff;
  }
  .main {
    padding: 15rem 0;
  }
  .logo p {
    font-size: 14rem;
    color: #5a5a5a;
    padding-left: 7rem;
  }
  .logo b {
    font-size: 24rem;
    text-transform: uppercase;
    color: #39930d;
    font-weight: bold;
    display: block;
  }
  .flex-between {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contacts {
    column-gap: 29rem;
  }
  .graphic {
    padding-right: 10rem;
  }
  .phone {
    padding-right: 3rem;
  }
  .working p,
  .number p {
    font-size: 14rem;
    color: #5a5a5a;
    font-weight: bold;
    text-align: right;
  }
  .number a {
    transition: 1s ease;
  }
  .number a:hover {
    color: #39930d;
  }
  .num {
    text-decoration: none;
    color: #5a5a5a;
  }
  .mainkartinki {
    display: flex;
    column-gap: 10rem;
  }
  .mainkartinki > img {
    width: 100%;
    min-height: 200rem;
    object-fit: cover;
    object-position: 75%;
    vertical-align: bottom;
  }
  .mainkartinki {
    padding-top: 10rem;
  }
  .imge img {
    width: 100%;
    max-height: 120px;
    object-fit: cover;
    object-position: 75%;
    vertical-align: bottom;
  }
  .lishk {
    padding-top: 31rem;
    padding-bottom: 28rem;
  }
  .footballpartners{
    min-width: 300rem;
  }
  .partneri {
    background-color: #39930d;
    font-size: 18rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    padding: 14px 19px;
  }
  .ulka {
    list-style: none;
    padding-left: 20px;
    padding-top: 15px;
  }
  .ash {
    font-size: 14rem;
    line-height: 30rem;
    text-decoration: underline;
    text-transform: uppercase;
    color: #343434;
    font-family: "Arial";
    transition: 1s ease;
  }
  .ash:hover {
    color: #39930d;
  }
  h1.profootball {
    font-size: 24rem;
    color: #39930d;
  }
  .profootball {
    font-size: 14rem;
    line-height: 21rem;
    color: #343434;
    padding-top: 17px;
  }
  .profootball p {
    margin-bottom: 18px;
  }
  .inf {
    max-width: 611rem;
  }
  .footer {
    background-color: #39930d;
  }
  .footer p {
    font-size: 14rem;
    color: #fff;
  }
  .footerul {
    column-gap: 11px;
    list-style: none;
    padding: 10px 0;
  }
  .items-center {
    align-items: center;
  }
  @media screen and (max-width: 1024px) {
    .imge p {
      width: 100%;
    }
    .mainkartinki {
      align-items: center;
      gap: 10px;
    }
  }
  @media screen and (min-width: 520px) {
    .flex-between {
        justify-content: space-between;
    }
    .main {
        flex-wrap: nowrap;
    }
  }
  @media screen and (min-width: 528px) {
    .mainkartinki{
      flex-wrap: nowrap;
    }
  }
  @media screen and (min-width: 768px) {
    html {
      font-size: 1px;
    }
    .footballpartners{
      width: 100%;
    }
    .imge p {
      width: 100%;
    }
  }
  @media screen and (min-width: 1024px) {
    html {
        font-size: 1px;
    }
    .imge img {
      max-height: 140px;
    }
    .flex-between {
      flex-wrap: nowrap;
    }
    .inf {
      padding-left: 18px; 
    }
  }
  @media screen and (min-width: 1440px) {
    .imge img {
      max-height: 200px;
    }
    html {
        font-size: 1.2px;
    }
  }
  @media screen and (min-width: 2560px) {
    .imge img {
      max-height: 300px;
    }
    html {
        font-size: 2px;
    }
  }